target/classes/sadiktestproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
   
    <spring:beans>
    	<spring:import resource="classpath:customjavacomponent.xml"/>
    </spring:beans>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
    <flow name="sadiktestprojectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/testflow" allowedMethods="GET" doc:name="HTTP"/>
        <enricher doc:name="Message Enricher" target="#[variable:loggerVariable]">
            <processor-chain doc:name="Processor Chain">
                <set-payload value="#[{'stage' : 'stage' ,'source' : 'source' ,'unique' : 'unique' ,'message' : 'message' ,'payload' : 'payload'}]" doc:name="Set Payload"/>

                <flow-ref name="custom_Flow" doc:name="Flow Reference"/>
            </processor-chain>
        </enricher>
        <logger message="------------------------------------------------------- #[payload]" level="INFO" doc:name="Logger"/>
   
    </flow>
</mule>
